# Django Settings
SECRET_KEY=django-insecure-qp^ilj8=%v+f8!mjij$2lujm2blyz2emw2il!el!7yqk@1a5u(
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,web,0.0.0.0

# PostgreSQL Settings
POSTGRES_DB=stats_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis & Celery Settings
REDIS_URL=redis://redis:6379/0