# Виртуальное окружение
venv/

# Секретные файлы конфигурации
.env

# Кэш
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# База данных
*.sqlite3

# Настройки сред разработки (VS Code, PyCharm)
.vscode/